:root {
  --rounded-none: 0;
  --rounded-2: .125rem;
  --rounded-4: .25rem;
  --rounded-6: .375rem;
  --rounded-8: .5rem;
  --rounded-12: .75rem;
  --rounded-16: 1rem;
  --rounded-20: 1.25rem;
  --rounded-24: 1.5rem;
  --rounded-32: 2rem;
  --rounded-40: 2.5rem;
  --rounded-48: 3rem;
  --rounded-full: 9999px;
}