.block {
  box-shadow: var(--shadow-block);
  padding: var(--spacing-80);
  border-radius: var(--rounded-3xl);
  background: var(--bg-canvas);
}

@media (max-width: 1200px) {
  .block {
    padding: var(--spacing-32);
  }
}

@media (max-width: 768px) {
  .block {
    padding: var(--spacing-24);
  }
}