.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: var(--spacing-32);

  .hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);

    .hero__info {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-24);

      p {
        font-size: var(--heading-6);
        line-height: var(--line-height-heading-6);
      }
    }

    .hero__form {
      width: 100%;
    }

    .hero__clients {
      display: flex;
      align-items: center;
      gap: var(--spacing-40);

      img {
        height: 1.5rem;
      }
    }
  }

  .hero__cards {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 480px;

    .cards {
      width: 100%;
      max-width: 448px;
      height: 100%;
      display: flex;
      align-items: end;
      position: relative;
      
      .card-pay {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-24);
        width: 100%;
        max-width: 320px;
        background: var(--bg-canvas);
        box-shadow: var(--shadow-card);
        padding: var(--spacing-24);
        border-radius: var(--rounded-3xl);
  
        .card-pay__client {
          display: flex;
          align-items: center;
          gap: var(--spacing-12);
  
          .card-pay__client-info {
            .card-pay__client-name {
              font-weight: var(--font-weight-semibold);
              color: var(--color-text-heading);
            }
  
            .card-pay__client-email {
              font-size: var(--caption);
              line-height: var(--line-height-caption);
              color: var(--color-text-secondary);
              font-weight: var(--font-weight-light);
              letter-spacing: var(--tight);
            }
          }
        }
  
        .card-pay__content {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-8);
  
          .card-pay__invoice {
            display: flex;
            flex-direction: column;
            padding: var(--spacing-16);
            border: 1px solid var(--color-border);
            border-radius: var(--rounded-xl);
  
            span {
              font-size: var(--legend);
              line-height: var(--line-height-legend);
            }
  
            h4 {
              font-size: var(--heading-4);
              line-height: var(--line-height-heading-4);
              color: var(--color-text-primary);
              font-weight: var(--font-weight-semibold);
            }
  
            p {
              font-size: var(--caption);
              line-height: var(--line-height-caption);
            }
          }
  
          .card-pay__options {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-8);
  
            .option {
              display: flex;
              align-items: center;
              gap: var(--spacing-8);
              padding: var(--spacing-16);
              border-radius: var(--rounded-xl);
              outline: 1px solid var(--color-border);
              color: var(--color-text-heading);
              font-size: var(--caption);
              line-height: var(--line-height-caption);
              font-weight: var(--font-weight-medium);
              max-height: 54px;
  
              span {
                flex: 1;
              }
  
              &.option--selected {
                outline-color: var(--color-border-primary);
  
                .radio {
                  outline-color: var(--color-border-primary);
                  background: var(--bg-primary);
                }
              }
  
              .radio {
                width: 1rem;
                height: 1rem;
                outline: 1px solid var(--color-border);
                outline-offset: 4px;
                border-radius: var(--rounded-full);
                background: var(--bg-canvas);
              }
            }
          }
        }
  
        .card-pay__action {
          .button {
            pointer-events: none;
          }
        }
      }
  
      .card-credit {
        position: absolute;
        top: 0;
        right: 1.5rem;
        width: 100%;
        max-width: 228px;
        border-radius: var(--rounded-3xl);
        overflow: hidden;
  
        .card-credit__content {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-4);
          height: 212px;
          background: var(--bg-primary);
          padding: var(--spacing-24);
  
          span, h6 {
            color: var(--color-text-inverted);
          }
  
          span {
            font-size: var(--legend);
            line-height: var(--line-height-legend);
          }
  
          h6 {
            font-size: var(--heading-6);
            line-height: var(--line-height-heading-6);
          }
        }
  
        .card-credit__footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: var(--bg-primary-stronger);
          padding: var(--spacing-8) var(--spacing-24);
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .hero {
    grid-template-columns: 1fr;
    gap: var(--spacing-64);

    .hero__content {
      align-items: center;

      .hero__info {
        text-align: center;
      }

      .hero__form {
        display: flex;
        justify-content: center;

        .input-container {
          align-items: center;
        }
      }

      .hero__clients {
        justify-content: center;

        img {
          height: 1.125rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .hero {
    .hero__cards {
      justify-content: start;

      .cards {
        max-width: unset;
      }
    }
  }
}