.header {
  display: flex;
  justify-content: center;
  padding: var(--spacing-16) var(--spacing-24);
  background: var(--bg-canvas);
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  z-index: 3;

  .container {
    .header__content {
      display: grid;
      grid-template-columns: 296px 1fr 296px;
      align-items: center;
      gap: var(--spacing-32);

      .logo {
        height: 1.5rem;
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--spacing-12);

        .mobile-menu {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .container {
      .header__content {
        grid-template-columns: 1fr auto;

        .navigation {
          display: none;
        }

        .actions {
          .button:not(.mobile-menu) {
            display: none;
          }

          .button.mobile-menu {
            display: flex;
            padding: 0;
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: var(--spacing-16) var(--spacing-24);
  }
}