.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  
  .navigation__list {
    display: flex;
    align-items: center;
    gap: var(--spacing-24);
    list-style: none;  

    .navigation__item {
      a {
        font-size: var(--font-size-body);
        color: var(--color-primary-800);
        text-decoration: none;
        font-weight: var(--font-weight-medium);
    
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .navigation {
    display: none;
  }

  #mobile-menu {
    .navigation {
      display: flex;

      .navigation__list {
        flex-direction: column;
        gap: var(--spacing-24);
      }
    }
  }
}